.sidebar {
    width: 17.5vw;
    height: 100vh;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-link{
    font-size: 21rem;
    margin: 10rem 0;
    color: black;
    text-transform: lowercase;
    letter-spacing: 1rem;
}

.sidebar-link:hover{
    opacity: .75;
}