.fullpage{
    background-image: url(../image/backgroundimage.jpg);
    background-attachment:'fixed';
    background-size:cover;
    background-position: top;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    text-align: center;
    border: 2px solid #50a2bb;
    font-size: 20px;
}

.text{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
}

.input{
    padding: 16px 32px;
    margin: 4px 2px;
}

.button{
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #50a2bb;
}

.button:hover{
    background-color: #50a2bb;
    color: white;
}