/* dashboard */

/* navigation bar */

.nav-bar {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    background-color: #fcfcfc;
    border-bottom: 3rem solid #272343;
}

.nav-item {
    font-size: 16rem;
    color: black;
    letter-spacing: 1rem;
    background: none;
    border: 2rem ;
    border-radius: 5rem;
    margin: 0 20rem;
}

.nav-item:nth-child(4):hover {
    cursor: pointer;
    opacity: .6;
    text-decoration: underline;
}

/* below nav bar */

.dashboard-content {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* sidebar */

.sidebar {
    width: 15vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 3rem solid #272343;
    background-color: #bae8e8;
}

.sidebar-link {
    font-size: 20rem;
    margin: 10rem 0;
    color: #272343;
    letter-spacing: 1rem;
    background: none;
    border: none;
    font-family: 'Lato', sans-serif;
}

.sidebar-link:hover {
    opacity: .6;
    cursor: pointer;
    text-decoration: underline;
}

/* dashboard main */

.dash-section-area {
    width: 85vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

.dash-section {
    width: 50%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fcfcfc;
}

.dash-section-full {
    width: 100%;
    border-bottom: 1.5rem solid #272343;
}

.dash-section:nth-child(2) {
    border-right: 1.5rem solid #272343;
}

.main-table {
    border: 1.5rem solid #272343;
    display: block;
    width: 85%;
    max-width: fit-content;
    height: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
}

.sub-table {
    border: 3rem solid #272343;
    border-spacing: 50rem 5rem;
    margin: 5rem;
    padding: 5rem;
    display: inline-block;
    height: fit-content;
}

.sub-table:nth-child(odd) {
    background-color: #bae8e8;
}

.sub-table:hover {
    background-color: #cccccc;
}

.table-headers {
    font-weight: 700;
}

table tr td {
    padding: 5rem 0;
    text-align: center;
}

table tr td:empty {
    width: 15rem;
}