/* dashboard */

.sidebar {
    width: 15vw;
    height: 100vh;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar-link {
    font-size: 21rem;
    margin: 10rem 0;
    color: black;
    text-transform: lowercase;
    text-decoration: underline;
    letter-spacing: 1rem;
    background: none;
    border: none;
}

.sidebar-link:hover {
    opacity: .6;
}